mixin lifestyleBlock (blockNumber)
    - for (var x=0; x<blockNumber; x++)
        li.col-4.lifestyle-col.p-0
            .lifestyle-container
                .lifestyle-box.w-100.h-100
            if x ==0
                a.lifestyle-button.active.d-flex.justify-content-center.align-items-center.bg-white(href="#") 
                    b lifestyle
            else 
                a.lifestyle-button.d-flex.justify-content-center.align-items-center.bg-white(href="#") 
                    b lifestyle

mixin travelBlock (blockSize)
    div(class=`travel-block-${blockSize} text-center w-100`)
        .w-100.display-image
        .display-content.w-100.bg-white.d-flex.flex-column.align-items-center
            .btn-group.display-buttons-container.d-flex.align-items-center
                a.display-button.btn.btn-outline.rounded(href="#") travel
                .circle.mx-2.rounded-circle
                a.display-button.btn.btn-outline.rounded(href="#") travel
            if blockSize=='big' 
                h3.w-100
                    b="Playfair Display: A new level of new typefaces and fonts that will make you literally glow..."
                p.news-text.w-100="Ready to amp up your closet with the season’s must-have accessory? Thanks to celebs like Kendall Jenner and Rosie Huntington-Whiteley, Western-inspired belts have quickly become fashion’s cool-girl accessory. Really, we’ve gathered a gang of stylish celebs and top bloggers wearing the big-buckled belt to prove the accessory amps up any outfit. So, are you ready."
            if blockSize=='small' 
                h4.w-100
                    b="Playfair Display: A new level of new typefaces & fonts."
                p.news-text.w-100="Coming from two different cultures has been instrumental in how we’ve approached our design process. Himmelen is a daily" 
        .display-bottom.d-flex.justify-content-between.align-items-center.w-100
            button.btn.btn-outline.bottom-button-left APRIL 29, 2014
            if blockSize =='big'
              +socialList('display-social-icon')
            .btn-group.d-flex.justify-content-end(role='group')
                button.btn.btn-outline.bottom-button-right READ MORE
                a.btn.display-button-addon.d-flex.justify-content-center.align-items-center(href="#")
                  i.fas.fa-chevron-right

mixin shareButton
    .share-button-block.d-flex.justify-content-center
        a.share-button.btn.btn-outline SHARE ON

mixin commented-articles(articlesNumber)
    - for (var x=0; x<articlesNumber; x++)
         li
            a.articles-item.d-flex.justify-content-between.w100(href="")
                .articles-img
                .articles-content 
                    h5.articles-title 
                        b Playfair Display: A new level of new typefaces and fonts.
                    .articles-comment.text-uppercase 
                        i.fas.fa-comment.text-uppercase &nbsp; 23 comments
                    


#content
    .container.p-0
        ul.row.lifestyle-inner.justify-content-between.p-0
            +lifestyleBlock ('3')
        .row
            .col-12.col-md-8.left-content-side.py-5
                +travelBlock ('big')
                .row 
                    .col-12.col-sm-6.pe-4
                        +travelBlock ('small')
                    .col-12.col-sm-6.ps-4 
                        +travelBlock ('small')
                +travelBlock ('big')
                .row
                    .col-12.col-sm-6.pe-4.pt-1
                        +travelBlock ('small')
                    .col-12.col-sm-6.ps-4.pt-1 
                        +travelBlock ('small')
                +travelBlock ('big')
                .pagination.d-flex.justify-content-center.align-items-center.pagination-custom
                    .page-item
                        a.page-link
                            b « NEWER POSTS
                    .page-div / 
                    .page-item
                        a.page-link
                            b OLDER POSTS »
            .col-12.col-md-4.right-content-side.py-5
                .right-content-block.w-100.bg-white.mb-5 
                    .gift-inner.w-100.d-flex.flex-column.justify-content-end.align-items-center
                        a.w-100.d-flex.justify-content-center(href="")
                            img.img-fluid.gift-img(src="images/world-gift.png", alt="world gift")
                        .gift-text.text-center.w-100
                            b.text-uppercase or get started on some job...    
                .right-content-block.w-100.bg-white.mb-5
                    +shareButton
                    .follow-block.d-lg-block.d-xl-flex.justify-content-between.align-items-center.mb-2
                        .follow-text.mb-3.text-center 
                            b FOLLOW ME
                            i.fas.fa-caret-right.ms-2
                        +socialList ('share-social-icon')
                .right-content-block.w-100.bg-white.mb-5.d-flex.flex-column.justify-content-start.align-items-center
                    +shareButton
                    .testimonials-img.w-100
                    .news-text.text-center.w-100 Western-inspired belts have quickly become fashion’s cool-girl accessory. Really,  prove the accessory amps up any outfit. So, are you ready to really support..
                    a.testimonials-link.w-100.text-center.my-4(href="#") Read more →
                    .testimonials-sign.d-flex.justify-content-center
                        img.img-fluid(src="images/signature.png", alt="signature")
                    .testimonials-social-list-container.w-50
                        +socialList ('testimonials-social-icon')
                .right-content-block.w-100.bg-white.mb-5 
                    +shareButton
                    form.subscribe-form.w-100.pb-4
                        input.form-control.custom-input.w-100(type="email" placeholder="E-mail address.. ")
                        a.btn.input-button.w-100.d-flex.justify-content-center.align-items-center(href="#") SUBSCRIBE
                .right-content-block.w-100.bg-white.mb-5 
                    +shareButton
                    ul.articles-list.p-0
                        +commented-articles('4')
                .right-content-block.w-100.bg-white.mb-5 
                    +shareButton
                    .input-group.mt-3.mb-1
                        input.form-control.custom-input(type='text' placeholder="Search")
                        button.btn.input-button.rounded-end(type='button')
                            i.fas.fa-search




                
                        
